# ==========================================
# PLANTILLA DE CONFIGURACIÓN DEL SERVIDOR
# Copia este archivo a .env y define los valores reales
# ==========================================
DB_NAME=inventario_db
DB_USER=postgres
DB_PASSWORD=cambiar_en_produccion
DB_HOST=db
DB_PORT=5432
SECRET_KEY=clave_secreta_generada_para_prod
DEBUG=False

# Token de Ngrok
NGROK_AUTHTOKEN=tu_authtoken_de_ngrok

# Configuración Pública para el Frontend
VITE_API_URL=/api/
